//bootstrap links
link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
link(rel='stylesheet', href='https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')
link(rel='stylesheet', href='https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css')
.container
  br
  br
  table#example.display(style='width:100%')
    thead
      tr
        th College
        th Branch
        th Year
        th Section
        th Complaint
        th Action
    tbody
      if data
        each member in data
          tr
            td #{member.College} 
            td #{member.Branch} 
            td #{member.Year}
            td #{member.Section}
            td #{member.Complaint}
            td
              button.btn.btn-danger.remove(value=member.Complaint) Delete
br
br
script.
  $(document).ready(function(){
    $('#example').DataTable({
        dom: 'Bfrtip',
        buttons: [
            { extend:'copy', attr: { id: 'allan' } }, 'csv', 'excel', 'pdf', 'print'
        ]
    });
  });
script.
  $('.remove').click(function(){
    var result = $(this).val();
    //alert(result);
    $.post('/delete',{val:result},function(data){
      alert('Deleted');
      location.reload('/view');
    });
  });
script(src='https://code.jquery.com/jquery-3.3.1.js')
script(src='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
script(src='https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js')
script(src='https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js')
script(src='https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js')
script(src='https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js')